<div class="block-header"> </div>

              <%= devise_error_messages! %>


          <div class="card col-sm-offset-2 col-sm-5">
            <h2>Reset Your Password</h2>
            <hr>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :id=>'reset-form', method: :put }) do |f| %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>


              <div class="field">
                <%= f.label :current_password %> <i></i>
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>


              <div class="field">
                <label>New Password</label>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <label>Confirm Password</label>
                <%= f.password_field :password_confirm, autocomplete: "off" %>
              </div>



              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>

</div>