<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlogToApp</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application'%>  
  </head>
  <body>


    <div class="login">
      <h1><a href="">Blappr </a></h1>
      <div class="login-bottom">
        <h2>Login</h2>

  <%= devise_error_messages! %>


        <%= form_for(resource, as: resource_name,:validate=> true, url: session_path(resource_name),html: {id: "loginform"}) do |f| %>
        


          <div class="col-md-6">
            
            <div class="login-mail">
            
               <i class="fa fa-user"></i>

              <%= f.text_field :email %> 
            </div>


            <div class="login-mail">
                          <i class="fa fa-lock"></i>

           <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me ,required: true %>
            <% end %>
            <br>
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end %>
          </div>
          <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
              <input type="submit" value="login">
            </label>
            <p>Do not have an account?</p>
            <a href="sign_up" class="hvr-shutter-in-horizontal">Signup</a>
          </div>
          <div class="clearfix"> </div>
        <%end %>
      </div>
    </div>
    <div class="copy-right">
      <p> &copy; 2016 Blappr. All Rights Reserved | Design by <a href="http://risemetric.com/" target="_blank">Risemetric </a> </p> 
    </div>
  </body>
</html>