<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BlogToApp</title>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application'%>  

</head>
<body>
<div id="wrapper">
       <div id="wrapper">
       
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="index.html">Grappr</a></h1>         
               </div>
             <div class=" border-bottom">
            <div class="full-left">
              Payment
            
            <div class="clearfix"> </div>
           </div>
     
       
            <!-- Brand and toggle get grouped for better mobile display -->
         
           <!-- Collect the nav links, forms, and other content for toggling -->
           
            <div class="clearfix">
       
     </div>
      
            
            </div>
        </nav>
<div class="row" style="background-color: #F3F3F4">
    <div class="grid-system col-md-8 col-md-offset-2">
    
<div class="grid-form1 questions">
<p style="text-align: center;">It's easy to get started and preview your own app, online or on your own device.</p><hr/>
<div class="row">
<div class="col-md-12" style="margin-bottom: 5%">
    
    
  
  <div class="form-group">
  <form class="form-horizontal" id="form-29" action="payments" method="POST">
    <div class="col-sm-6">
      <h2 style="text-align: center;">$29 Self Host</h2>
      <p style="text-align: center;">
        ✓ Mobile app for Android<br/>
        ✓ Unlimited push notifications<br/>
        ✓ Publish on your own accounts<br/>
        ✓ Admob Mobile ads<br/>
        ✓ Unlimited app customizations<br/>
        ✓ 24*7 customer support<br/>
        ✓ Backend CMS to manage app
      </p>
      <input type="hidden" name="amount" value="290">
      <center>
      <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4ayR1Le2S8qNY9GgGEH3RnHn"
    data-amount="290"
    data-name="Demo Site"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true"
    plan = "1"
    data-label="Pay and Let us Publish Your App">
  </script></center>
       </form>
    </div>
    <form class="form-horizontal" action="payments">
     <div class="col-sm-6">
      <h2 style="text-align: center;">$49 We host</h2>
      <p style="text-align: center;">
        ✓ All features of Self Host Plan<br/>
        ✓ App logo design<br/>
        ✓ Playstore Title/Descripotion creation<br/>
        ✓ Graphic assets designing for Playstore<br/>
        ✓ Google analytics account<br/>
        ✓ App Store Optimization<br/>
        ✓ Something else write here
      </p>
      <input type="hidden" name="amount" value="490">
       <center><script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4ayR1Le2S8qNY9GgGEH3RnHn"
    data-amount="490"
    data-name="Blappr"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true"
    data-label="Pay and Let us Publish Your App">
  </script></center>
    </div></form>
  </div>
</form>




</div>



</div>
</div>

    </div></div>
    <!--//faq-->
        <!---->
<div class="copy">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>
        </div>
        </div>
        <div class="clearfix"> </div>
       </div>
     
<!---->
<!--scrolling js-->
    <script src="assets/jquery.nicescroll.js"></script>
    <script src="assets/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>

