
<div class="grid-system" >   <!-- grid system -->


  <div class="grid-form1 questions">
  
    <p>You can customize your app logo, color scheme, main menus and sliders with few clicks and make it even better - just like the way you want and generate APK file within few minutes.</p>  

    <div class="row">
      <div class="col-md-6">   <!-- form div -->
        <%= form_for @app , :html=> {:class =>"form-horizontal" ,:id=>"app-form"} do |f| %>


          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Name</label>
            <div class="col-sm-10">
              <%if @app_draft.nil? %>
                
                <%= f.text_field :app_name, class: "form-control",id: "inputEmail3", placeholder:"Name of your app" %>
              <%else%>
               <%= f.text_field :app_name, class: "form-control",id: "inputEmail3", placeholder:"Name of your app", value: @app_draft.app_name %>
              <%end%>
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">Logo</label>
            <div class="col-sm-10">

              <%if @app_draft.nil? %>
                <%= f.file_field :app_icon%>
              <%else%>
                <%= f.file_field :app_icon, :defaultValue => @app_draft.app_icon%>
              <%end%>
              <%= image_tag @app.app_icon_url if @app.app_icon? %>
            </div>
          </div>

        <%= f.fields_for :appcategory do |cat| %>
          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Categories</label>
            <div class="col-sm-10">

              <% if @categories.nil? %>
                <%= cat.select :categories, "<option selected disabled>No Categories To Show</option>".html_safe ,{},{class: "form-control1 placeholder",multiple: true}  %>     
              <% else %>
                <%= cat.select :categories, options_for_select(@categories.collect {|c| [ c['title'] ] }) ,{},{class: "form-control1 placeholder",multiple: true} %>
              <% end %>  
            </div>
          </div>
        <%end%>



          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Email</label>
            <div class="col-sm-10">
            <%if @app_draft.nil? %>
              
              <%= f.email_field :contact_email,class:"form-control", id: "inputEmail3", placeholder: "Your contact email" %>
            <%else%>
              <%= f.email_field :contact_email,class:"form-control", id: "inputEmail3", placeholder: "Your contact email", value: @app_draft.contact_email %>
            <%end%>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">About us</label>
            <div class="col-sm-10">
              <% if @pages.nil? %>
                <%= f.select :about_us,"<option selected='selected'>No Pages To Show</option>".html_safe,{},{class: "form-control1 placeholder"}%>
              <% else %>
                <%= f.select :about_us, options_for_select(@pages.collect {|c| [ c['title'] ] }),{},{class: "form-control1 placeholder"}%>
              <% end %>
              <%if not @app_draft.nil? %>
              <script type="text/javascript">
                $('#about_us').val('<%= @app_draft.about_us%>'); //value of your default option
              </script>
            <%end%>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Privacy Policy</label>
            <div class="col-sm-10">
            <% if @pages.nil? %>
                <%= f.select :privacy_policy,"<option selected disabled>No Pages To Show</option>".html_safe,{},{class: "form-control1 placeholder"}%>
              <% else %>
                <%= f.select :privacy_policy, options_for_select(@pages.collect {|c| [ c['title'] ] }),{},{class: "form-control1 placeholder"}%>
              <% end %>
            <%if not @app_draft.nil? %>
              <script type="text/javascript">
                $('#privacy_policy').val('<%= @app_draft.privacy_policy%>'); //value of your default option
              </script>
            <%end%>

            </div>
          </div>

          <%= f.fields_for :appcolour do |ac| %>
            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Top-bar colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                   <%if @app_draft.nil? %>
                       <%= ac.text_field :top_bar_colour, class: "jscolor{valueElement:'top-bar', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "top-bar", onchange: "changecolor('#top-bar', '#top-nav')" %>
                   <%else%>
                      <%= ac.text_field :top_bar_colour, class: "jscolor{valueElement:'top-bar', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "top-bar", onchange: "changecolor('#top-bar', '#top-nav')",value: @app_draft.top_bar_colour %>
                   <%end%>
                  </div>                         
              </div>
            </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Brand colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                  <%if @app_draft.nil? %>
                     <%= ac.text_field :brand_colour, class: "jscolor{valueElement:'brand', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "brand", onchange: "changecolor('#brand', '#header-app');changecolor('#brand', '.catog-div');changecolor('#brand', '.title');" %>
                  <%else%>
                      <%= ac.text_field :brand_colour, class: "jscolor{valueElement:'brand', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "brand", onchange: "changecolor('#brand', '#header-app');changecolor('#brand', '.catog-div');changecolor('#brand', '.title');", value: @app_draft.brand_colour %>
                  <%end%>
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Accent colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                  <%if @app_draft.nil? %>
                     <%= ac.text_field :accent_colour, class: "jscolor{valueElement:'accent', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "accent", onchange: "changeAccentColor('#accent', '.home')" %>
                  <%else%>
                     <%= ac.text_field :accent_colour, class: "jscolor{valueElement:'accent', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "accent", onchange: "changeAccentColor('#accent', '.home')", value: @app_draft.accent_colour %>
                  <%end%>
                     
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Article colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                  <%if @app_draft.nil? %>
                     <%= ac.text_field :article_colour, class: "jscolor{valueElement:'article', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article", onchange: "changeTextColor('#article', '.a_title')" %>
                  <%else%>
                      <%= ac.text_field :article_colour, class: "jscolor{valueElement:'article', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article", onchange: "changeTextColor('#article', '.a_title')", value: @app_draft.article_colour %>
                  <%end%>
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Article-writer colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                  <%if @app_draft.nil? %>
                     <%= ac.text_field :article_writer_colour, class: "jscolor{valueElement:'article-writer', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article-writer", onchange: "changeTextColor('#article-writer', '.a_author')" %>
                  <%else%>
                     <%= ac.text_field :article_writer_colour, class: "jscolor{valueElement:'article-writer', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article-writer", onchange: "changeTextColor('#article-writer', '.a_author')",value: @app_draft.article_writer_colour %>
                  <%end%>
                </div>                        
            </div>
          </div>
          
        <%end%>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" id="save_draft" data-app = "<%= current_app.id%>" data-author = "<%= current_app.author_id%>" >Save as Draft</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" >Generate APK</button>
            </div>
          </div>  

    <% end %>
      </div>      
      <!-- col-md-6 end -->
      <div class="col-md-6">

        <div class="container">
          <img src="/assets/app.png" class="nexus">
          <div class="col-sm-4 col-sm-offset-1 guide" id="phone"> <!-- smartphone -->
              <div id ="top-nav" class="col-sm-12">
                  <div id="top-nav-content"> 
                      <i class="fa fa-wifi"></i> <i class="fa fa-signal"></i>
                      <i class="fa fa-battery-1"></i> 12:20
                   </div>
             </div> <br>  
             <!-- top nav end -->
              <div id="header-app">
                  <img src="/assets/a.png" class="icons" >
                  <span id="app_name" >YOURBLOG</span>
                  <div class="right" >
                    <img src="/assets/b.png" style="margin-right: 8px; height: 21px;padding-top: 4px;" class="icons"></i>
                    <img src="/assets/c.png" style="height: 13px;width: 13px;vertical-align: top;margin-top: 3px;" class="icons" ></i>
                  </div>
              </div>
              <!-- header app end -->
              <div class="catog-div">
                    <span id="all-categories">
                    <div class="col-xs-4 home"> HOME</div>
                    <div class="col-xs-4"> ANDROID</div>
                    <div class="col-xs-4"> STARTUPS</div>
                    </span>
                </div>
                <!-- catog div end -->

            <div class="blog-main">      
                <img src="/assets/featured.png" class="image">
                <img src="/assets/navigation.png" class="navigation">
                <div class="title">TechSparks 2016: announcing the seventh edition of TechSparks </div>
                <div class="trending"> Trending Topics</div>
                <div class="list-articles">
                    <ul>
                        <li class="alist">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/1.png" class="a_image col-xs-3">
                        </li>
                        <br><br><hr>
                        <li class="alist" style="margin-top: 0">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/2.png" class="a_image col-xs-3">
                        </li>
                        
                    </ul>
                </div>
            </div>
                  
          </div>   <!-- smartphone ends -->
        </div>
        <!-- container end -->
      </div>
      <!-- col-md-6  end-->
    </div>
    <!-- row ends -->
    <br><br><br>

  </div>



</div> <!-- grid system ends-->


