<% if not @data.nil? %>
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="index.html">Grappr</a></h1>         
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            Submit Blog Details
            <div class="clearfix"> </div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display --> 
        <!-- Collect the nav links, forms, and other content for toggling -->   
        <div class="clearfix">
        </div>
      
            
    </div>
</nav>

<div class="grid-system" >   <!-- grid system -->

  <div class="grid-form1 questions" >
    <p>You can customize your app logo, color scheme, main menus and sliders with few clicks and make it even better - just like the way you want and generate APK file within few minutes.</p>  


    <div class="row">
      <div class="col-md-6">   <!-- form div -->
        <%= form_for @app , :html=> {:class =>"form-horizontal" ,:id=>"app-form"} do |f| %>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Name</label>
            <div class="col-sm-10">
              
              <input type="text" name="app_name" class="form-control" id="inputEmail3" placeholder="Name of your app">

            </div>
          </div>
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">Logo</label>
            <div class="col-sm-10">

              <%= f.file_field :app_icon%>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Categories</label>
            <div class="col-sm-10">
                <% if @categories.nil? %>
                  <%= select_tag "categories", "<option selected='selected'>No Categories To Show</option>".html_safe ,class: "form-control1 placeholder",  multiple: true %>     
                <% else %>
                  <%= select_tag "categories", options_for_select(@categories.collect {|c| [ c['title'] ] }) ,class: "form-control1 placeholder",  multiple: true %>
                <% end %>  
            </div>
          </div>

          <%= f.fields_for :appcolours do |ac| %>
            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Top-bar colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                       <%= ac.text_field :top_bar_colour, class: "jscolor{valueElement:'top-bar', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "top-bar", onchange: "changecolor('#top-bar', '#top-nav')" %>
                  </div>                          
              </div>
            </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Brand colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                     <%= ac.text_field :brand_colour, class: "jscolor{valueElement:'brand', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "brand", onchange: "changecolor('#brand', '#header-app');changecolor('#brand', '.catog-div');changecolor('#brand', '.title');" %>
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Accent colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                     <%= ac.text_field :accent_colour, class: "jscolor{valueElement:'accent', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "accent", onchange: "changeAccentColor('#accent', '.home')" %>
                     
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Article colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                     <%= ac.text_field :article_colour, class: "jscolor{valueElement:'article', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article", onchange: "changeTextColor('#article', '.a_title')" %>
                </div>                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Article-writer colour</label>
            <div class="col-sm-10">
                 <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                     <%= ac.text_field :article_writer_colour, class: "jscolor{valueElement:'article-writer', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article-writer", onchange: "changeTextColor('#article-writer', '.a_author')" %>
                </div>                        
            </div>
          </div>
          
        <%end%>      

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Generate APK</button>
            </div>
          </div>  


    <% end %>


      </div> <!-- col-md-6 ends -->



      <div class="col-md-6">

        <div class="container">
          <img src="/assets/app.png" class="nexus">
          <div class="col-sm-4 col-sm-offset-1 guide" id="phone"> <!-- smartphone -->
              <div id ="top-nav" class="col-sm-12">
                  <div id="top-nav-content"> 
                      <i class="fa fa-wifi"></i> <i class="fa fa-signal"></i>
                      <i class="fa fa-battery-1"></i> 12:20
                   </div>
             </div> <br>  
             <!-- top nav end -->
              <div id="header-app">
                  <img src="/assets/a.png" class="icons" >
                  <span id="app_name" >YOURBLOG</span>
                  <div class="right" >
                    <img src="/assets/b.png" style="margin-right: 8px; height: 21px;padding-top: 4px;" class="icons"></i>
                    <img src="/assets/c.png" style="height: 13px;width: 13px;vertical-align: top;margin-top: 3px;" class="icons" ></i>
                  </div>
              </div>
              <!-- header app end -->
              <div class="catog-div">
                    <span id="all-categories">
                    <div class="col-xs-4 home"> HOME</div>
                    <div class="col-xs-4"> ANDROID</div>
                    <div class="col-xs-4"> STARTUPS</div>
                    </span>
                </div>
                <!-- catog div end -->

            <div class="blog-main">      
                <img src="/assets/featured.png" class="image">
                <img src="/assets/navigation.png" class="navigation">
                <div class="title">TechSparks 2016: announcing the seventh edition of TechSparks </div>
                <div class="trending"> Trending Topics</div>
                <div class="list-articles">
                    <ul>
                        <li class="alist">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/1.png" class="a_image col-xs-3">
                        </li>
                        <br><br><hr>
                        <li class="alist" style="margin-top: 0">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/2.png" class="a_image col-xs-3">
                        </li>
                        
                    </ul>
                </div>
            </div>
                  
          </div>   <!-- smartphone ends -->
        </div>
        <!-- container end -->
      </div>
      <!-- col-md-6  end-->
    </div>
    <!-- row ends -->
    <br><br><br>

  </div>



</div> <!-- grid system ends-->
<% else %>
   <div class="alert alert-danger text-center" style="margin-top:140px;width:50%;margin-left:350px;position:absolute">
  <strong>Alert ! </strong> First Install Plugin and then continue
</div>
  <%= render 'apps/plugin' %>
<% end %>

