<% if not @data.nil? %>
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="index.html">Grappr</a></h1>         
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            Submit Blog Details
            <div class="clearfix"> </div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display --> 
        <!-- Collect the nav links, forms, and other content for toggling -->   
        <div class="clearfix">
        </div>
      
            
    </div>
</nav>

<div class="grid-system" >   <!-- grid system -->

  <div class="grid-form1 questions" >
    <p>You can customize your app logo, color scheme, main menus and sliders with few clicks and make it even better - just like the way you want and generate APK file within few minutes.</p>  


    <div class="row">
      <div class="col-md-6">   <!-- form div -->
        <%= form_for @app , :html=> {:class =>"form-horizontal" ,:id=>"app-form"} do |f| %>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label hor-form">Name</label>
              <div class="col-sm-10">
                <%if @app_draft.nil? %>
                  
                  <%= f.text_field :app_name, class: "form-control",id: "inputEmail3", placeholder:"Name of your app" %>
                <%else%>
                 <%= f.text_field :app_name, class: "form-control",id: "inputEmail3", placeholder:"Name of your app", value: @app_draft.app_name %>
                <%end%>
              </div>
            </div>
            
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label hor-form">Logo</label>
              <div class="col-sm-10">

                <%if @app_draft.nil? %>
                  <%= f.file_field :app_icon%>
                <%else%>
                  <%= f.file_field :app_icon %>
                <%end%>
              </div>
            </div>

          <%= f.fields_for :appcategory do |cat| %>
            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Categories</label>
              <div class="col-sm-10">

                <% if @categories.nil? %>
                  <%= cat.select :categories, "<option selected disabled>No Categories To Show</option>".html_safe ,{},{class: "form-control1 placeholder",multiple: true}  %>     
                <% else %>
                  <%= cat.select :categories, options_for_select(@categories.collect {|c| [ c['title'] ] }) ,{},{class: "form-control1 placeholder",multiple: true} %>
                  <%if not @app_draft.nil? %>
                    <script type="text/javascript">
                      $('#app_appcategory_categories').val('<%=@app_draft.categories%>'.split(',')); 
                    </script>
                  <% end %>

                <%end%>  
              </div>
            </div>
          <%end%>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label hor-form">Email</label>
              <div class="col-sm-10">
              <%if @app_draft.nil? %>
                
                <%= f.email_field :contact_email,class:"form-control", id: "inputEmail3", placeholder: "Your contact email" %>
              <%else%>
                <%= f.email_field :contact_email,class:"form-control", id: "inputEmail3", placeholder: "Your contact email", value: @app_draft.contact_email %>
              <%end%>
              </div>
            </div>

            <%= f.fields_for :appcolour do |ac| %>
              <div class="form-group">
                <label class="col-sm-2 control-label hor-form">Top-bar colour</label>
                <div class="col-sm-10">
                     <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                     <%if @app_draft.nil? %>
                         <%= ac.text_field :top_bar_colour, class: "jscolor{valueElement:'top-bar', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "top-bar", onchange: "changecolor('#top-bar', '#top-nav')", value: "002080" %>
                     <%else%>
                        <%= ac.text_field :top_bar_colour, class: "jscolor{valueElement:'top-bar', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "top-bar", onchange: "changecolor('#top-bar', '#top-nav')",value: @app_draft.top_bar_colour %>
                     <%end%>
                    </div>                         
                </div>
              </div>

            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Brand colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                    <%if @app_draft.nil? %>
                       <%= ac.text_field :brand_colour, class: "jscolor{valueElement:'brand', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "brand", onchange: "changecolor('#brand', '#header-app');changecolor('#brand', '.catog-div');changecolor('#brand', '.title');",value: "002699" %>
                    <%else%>
                        <%= ac.text_field :brand_colour, class: "jscolor{valueElement:'brand', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "brand", onchange: "changecolor('#brand', '#header-app');changecolor('#brand', '.catog-div');changecolor('#brand', '.title');", value: @app_draft.brand_colour %>
                    <%end%>
                  </div>                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Accent colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                    <%if @app_draft.nil? %>
                       <%= ac.text_field :accent_colour, class: "jscolor{valueElement:'accent', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "accent", onchange: "changeAccentColor('#accent', '.home')",value: 'ff3333' %>
                    <%else%>
                       <%= ac.text_field :accent_colour, class: "jscolor{valueElement:'accent', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "accent", onchange: "changeAccentColor('#accent', '.home')", value: @app_draft.accent_colour %>
                    <%end%>
                       
                  </div>                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Article colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" data-toggle="dropdown" id="color-element">
                    <%if @app_draft.nil? %>
                       <%= ac.text_field :article_colour, class: "jscolor{valueElement:'article', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article", onchange: "changeTextColor('#article', '.a_title');", value: '1a1a1a' %>
                    <%else%>
                       <%= ac.text_field :article_colour, class: "jscolor{valueElement:'article', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article", onchange: "changeTextColor('#article', '.a_title');", value: @app_draft.article_colour %>
                    <%end%>
                  </div>                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label hor-form">Article-writer colour</label>
              <div class="col-sm-10">
                   <div class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" value="57ABC5"     data-toggle="dropdown" id="color-element">
                    <%if @app_draft.nil? %>
                       <%= ac.text_field :article_writer_colour, class: "jscolor{valueElement:'article-writer', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article-writer", onchange: "changeTextColor('#article-writer', '.a_author');",value: '808080' %>
                    <%else%>
                       <%= ac.text_field :article_writer_colour, class: "jscolor{valueElement:'article-writer', styleElement:'styleInput'} form-control", 'data-toggle' => "dropdown", id: "article-writer", onchange: "changeTextColor('#article-writer', '.a_author')",value: @app_draft.article_writer_colour %>
                    <%end%>
                  </div>                        
              </div>
            </div>
            
          <%end%>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="save_draft" data-app = "<%= @app.id%>" data-author = "<%= @app.author_id%>" >Proceed to next step</button>
              </div>
            </div>
            
    <% end %>


      </div> <!-- col-md-6 ends -->
      <%= render "phone" %>
    </div>
    <!-- row ends -->
    <br><br><br>

  </div>



</div> <!-- grid system ends-->
<% else %>

<div class="text-center alert alert-danger alert-dismissible fade in" role="alert"  style="margin-top:140px;width:50%;margin-left:350px;position:absolute">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Alert ! </strong> First Install Plugin and then continue
</div>


  <%= render 'apps/plugin' %>
<% end %>



