        <%= link_to "file" ,file_maker_path %>

<div class="grid-system">

	<div class="grid-form1 questions">

		<p>Customize your app as many times as you want and make it even better everyday. Here is list of all edits you've made so far and their respected APK.</p>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
				    <thead>
				      <tr>
				        <th>Version Name</th>
				        <th>Status</th>
				        <th>Generated Date</th>
				        <th>Download Link</th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% @apps.each do |app|%>
				      <tr>
				        <td><%=app.app_version_name%></td>
				        <td><%= app.app_status %></td>
				        <td><%= app.generated_date.strftime("%d-%m-%Y") %></td>
				        <td>
				        <% if app.app_status == "pending"%>
				        	<button type="submit" class="btn btn-success">Pending App Build</button>
				        <% else %>
				        	<a href="<%=app.download_link%>"<button type="submit" class="btn btn-danger">Download APK</button></a>
				        <% end %>
				        </td>
				      </tr>
				      <% end %>
				      <tr>
				        <td>Meet India’s ‘water doctor’, who has turned 84 acres of barren land into a water bowl</td>
				        <td>App Created</td>
				       	<td>24-12-2015</td>
				        <td><button type="submit" class="btn btn-danger">Download APK</button></td>
				      </tr>
				      <tr>
				        <td>When a coolie’s son went on to build a 100 crore company selling idli dosa batter</td>
				        <td>App Created</td>
				        <td>48 mins ago</td>
				        <td><button type="submit" class="btn btn-danger">Download APK</button></td>
				      </tr>
				      <tr>
				        <td>To guts, to pain… and to glory – an ode to the Indian Startup ecosystem!</td>
				        <td>App Created</td>
				       	<td>24-12-2015</td>
				        <td><button type="submit" class="btn btn-danger">Download APK</button></td>
				      </tr>
				      
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
