<!DOCTYPE html>
<html>
<head>
  <title>BlogToApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #edecec;">
	<header id="header" class="clearfix" data-ma-theme="blue">
	     <ul class="h-inner">
	         <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
	             <div class="line-wrap">
	                 <div class="line top"></div>
	                 <div class="line center"></div>
	                 <div class="line bottom"></div>
	             </div>
	         </li>

	         <li class="hi-logo hidden-xs">
	             <a href="index.html" style="color: #fff;">Material Admin</a>
	         </li>

	         <li class="pull-right">
	             <ul class="hi-menu">

	                 

	                 <li class="dropdown">
	                    
	                     <div class="dropdown-menu dropdown-menu-lg pull-right">
	                         <div class="list-group">
	                             <div class="lg-header">
	                                 Messages
	                             </div>
	                             <div class="lg-body">
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/app.png" alt="">
	                                     
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">David Belle</div>
	                                         <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/2.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Jonathan Morris</div>
	                                         <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div>
	                                         <img class="lgi-img" src="assets/app.png" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Fredric Mitchell Jr.</div>
	                                         <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/4.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Glenn Jecobs</div>
	                                         <small class="lgi-text">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/4.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Bill Phillips</div>
	                                         <small class="lgi-text">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
	                                     </div>
	                                 </a>
	                             </div>
	                             <a class="view-more" href="">View All</a>
	                         </div>
	                     </div>
	                 </li>
	                 <li class="dropdown">
	                     <a data-toggle="dropdown" href="">
	                         <i class="him-icon zmdi zmdi-notifications"></i>
	                         <i class="him-counts">9</i>
	                     </a>
	                     <div class="dropdown-menu dropdown-menu-lg pull-right">
	                         <div class="list-group him-notification">
	                             <div class="lg-header">
	                                 Notification

	                                 <ul class="actions">
	                                     <li class="dropdown">
	                                         <a href="" data-ma-action="clear-notification">
	                                             <i class="zmdi zmdi-check-all"></i>
	                                         </a>
	                                     </li>
	                                 </ul>
	                             </div>
	                             <div class="lg-body">
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/1.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">David Belle</div>
	                                         <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/2.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Jonathan Morris</div>
	                                         <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/3.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Fredric Mitchell Jr.</div>
	                                         <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/4.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Glenn Jecobs</div>
	                                         <small class="lgi-text">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
	                                     </div>
	                                 </a>
	                                 <a class="list-group-item media" href="">
	                                     <div class="pull-left">
	                                         <img class="lgi-img" src="assets/profile-pics/4.jpg" alt="">
	                                     </div>
	                                     <div class="media-body">
	                                         <div class="lgi-heading">Bill Phillips</div>
	                                         <small class="lgi-text">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
	                                     </div>
	                                 </a>
	                             </div>

	                             <a class="view-more" href="">View Previous</a>
	                         </div>
	                     </div>
	                 </li>
	                
	                
	                 
	             </ul>
	         </li>
	     </ul>

	     <!-- Top Search Content -->
	     <div class="h-search-wrap">
	         <div class="hsw-inner">
	             <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
	             <input type="text">
	         </div>
	     </div>
	 </header>

	 <section id="main">
	     <aside id="sidebar" class="sidebar c-overflow">
	         <div class="s-profile">
	             <a href="" data-ma-action="profile-menu-toggle">
	                 <div class="sp-pic">
	                     <img src="assets/profile-pics/1.jpg" alt="">
	                 </div>

	                 <div class="sp-info toggled">
	                     Malinda Hollaway

	                     <i class="zmdi zmdi-caret-down"></i>
	                 </div>
	             </a>

	             <ul class="main-menu">
	                 <li>
	                     <a href=""><i class="zmdi zmdi-input-antenna"></i> Billing</a>
	                 </li>
	                 <li>
	                     <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
	                 </li>
	                 <li>
	                     <%= link_to destroy_author_session_path, method: :delete do %><i class="zmdi zmdi-time-restore"></i> Logout</a>
	                     <%end%>
	                 </li>
	             </ul>
	         </div>

	         <ul class="main-menu">
	             <li class="active">
	                 <%= link_to '/' do%>
	                 <i class="zmdi zmdi-home"></i> Home</a>
	                 <%end%>
	             </li>
	            <li><a href="/posts"><i class="zmdi zmdi-calendar"></i> Posts</a></li>
	             
	             <li class="sub-menu">
	                 <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-widgets"></i> Push Notifications</a>

	                 <ul>
	                     <li><a href="/new_notification">Send New Notification</a></li>
	                     <li><a href="/all_notification">All Push Notifications</a></li>
	                 </ul>
	             </li>
	             
	             <li><a href="/apps/new"><i class="zmdi zmdi-calendar"></i> Customize App</a></li>
	             <li><a href="/support"><i class="zmdi zmdi-calendar"></i> Support</a></li>
	             
	             

	            
	             
	         </ul>
	     </aside>

	     <aside id="chat" class="sidebar">

	         <div class="chat-search">
	             <div class="fg-line">
	                 <input type="text" class="form-control" placeholder="Search People">
	                 <i class="zmdi zmdi-search"></i>
	             </div>
	         </div>

	         <div class="lg-body c-overflow">
	             <div class="list-group">
	                 <a class="list-group-item media" href="">
	                     <div class="pull-left p-relative">
	                         <img class="lgi-img" src="assets/profile-pics/2.jpg" alt="">
	                         <i class="chat-status-busy"></i>
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">Jonathan Morris</div>
	                         <small class="lgi-text">Available</small>
	                     </div>
	                 </a>

	                 <a class="list-group-item media" href="">
	                     <div class="pull-left">
	                         <img class="lgi-img" src="/assets/profile-pics/1.jpg" alt="">
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">David Belle</div>
	                         <small class="lgi-text">Last seen 3 hours ago</small>
	                     </div>
	                 </a>

	                 <a class="list-group-item media" href="">
	                     <div class="pull-left p-relative">
	                         <img class="lgi-img" src="/assets/profile-pics/3.jpg" alt="">
	                         <i class="chat-status-online"></i>
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">Fredric Mitchell Jr.</div>
	                         <small class="lgi-text">Availble</small>
	                     </div>
	                 </a>

	                 <a class="list-group-item media" href="">
	                     <div class="pull-left p-relative">
	                         <img class="lgi-img" src="/assets/profile-pics/4.jpg" alt="">
	                         <i class="chat-status-online"></i>
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">Glenn Jecobs</div>
	                         <small class="lgi-text">Availble</small>
	                     </div>
	                 </a>

	                 <a class="list-group-item media" href="">
	                     <div class="pull-left">
	                         <img class="lgi-img" src="/assets/profile-pics/5.jpg" alt="">
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">Bill Phillips</div>
	                         <small class="lgi-text">Last seen 3 days ago</small>
	                     </div>
	                 </a>

	                 <a class="list-group-item media" href="">
	                     <div class="pull-left">
	                         <img class="lgi-img" src="/assets/profile-pics/6.jpg" alt="">
	                     </div>
	                     <div class="media-body">
	                         <div class="lgi-heading">Wendy Mitchell</div>
	                         <small class="lgi-text">Last seen 2 minutes ago</small>
	                     </div>
	                 </a>
	             </div>
	         </div>
	     </aside>
<%= yield %>
		</section>

        <footer id="footer">
            Copyright &copy; 2015 Material Admin

            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </footer>

    
        <%= javascript_include_tag 'application'%>
</body>
</html>
